---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/timeframe?access_key=currency_layer_key123&currencies=GBP,CHF&end_date=2016-01-10&source=EUR&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 0ab6746a60fe28c527b397825474e95f
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timeframe":true,"start_date":"2016-01-01","end_date":"2016-01-10","source":"EUR","quotes":{"2016-01-01":{"EURGBP":0.73503,"EURCHF":1.087169},"2016-01-02":{"EURGBP":0.73503,"EURCHF":1.087169},"2016-01-03":{"EURGBP":0.737032,"EURCHF":1.085719},"2016-01-04":{"EURGBP":0.735968,"EURCHF":1.085588},"2016-01-05":{"EURGBP":0.732706,"EURCHF":1.084159},"2016-01-06":{"EURGBP":0.736722,"EURCHF":1.085898},"2016-01-07":{"EURGBP":0.746875,"EURCHF":1.085554},"2016-01-08":{"EURGBP":0.752144,"EURCHF":1.086433},"2016-01-09":{"EURGBP":0.752144,"EURCHF":1.086433},"2016-01-10":{"EURGBP":0.752118,"EURCHF":1.083801}}}'
  recorded_at: Sun, 22 May 2016 05:20:59 GMT
recorded_with: VCR 3.0.1
